{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Film Genre List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">List of Films</h1>

      <p class="lead alert alert-warning">This is a list of all the films of the
			<strong>{{ genre }}</strong> genre in our database.</p>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

		<table class="table">
			<tr>
				<th>Film Title</th>
				<th>Year Released</th>
				<th>Rating</th>
				<th>Duration</th>
				<th>Genre</th>
			</tr>

			<!-- here is a for-loop to give us all the socks -->
			{% for film in films %}
			<tr>
				<td>{{ film.title }}</td>
				<td>{{ film.yearReleased }}</td>
				<td>{{ film.rating }}</td>
				<td>{{ film.duration }}</td>
				<td>{{ film.genre }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}